<h1>Postagrammer</h1>

<table>
  <tbody>
    <% @posts.each do |post| %></td>
      <tr>
        <td><%= image_tag post.image.url(:medium) %></td>
      </tr>
      <tr>
        <td><%= post.caption %></td>
      </tr>
    <% end %>
  </tbody>
</table>
